
#profile-search{
    padding-left: 1rem;
}
/* .mat-form-field{
    color: gray;
} */
.mat-form-field-outline, .mat-form-field-outline-thick, .mat-form-field-outline {
    background: white !important;
    color: gray !important;
}
